<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Is it Christmas?</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
    <script src="js/colorful.js"></script>
  </head>
  <body>
    {{{body}}}
  </body>
</html>
